body {
  background: #f2f1f0;
  font-family: "Lato", sans-serif;
  color: #222;
  font-weight: 300;
}

section {
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

nav {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
}

header a:not(.active) {
  text-decoration: none;
  font-weight: 300;
}

nav a:not(:last-child) {
  margin-right: 20px;
}

nav .fa-linkedin-in {
  margin-top: 1px;
  margin-left: 24px;
}

@media only screen and (max-width: 680px) {
  header {
    flex-wrap: wrap;
  }
}

a {
  color: #000;
}

h1,
h2,
h3 {
  font-family: "Cormorant Garamond", serif;
}

h2 {
  font-size: 42px;
}

@media only screen and (max-width: 680px) {
  h2 {
    font-size: 40px;
  }
}

h3 {
  font-size: 32px;
}

p {
  margin-left: 0;
  margin-top: 0;
  line-height: 1.6em;
}

li {
  margin-bottom: 12px;
}

.split {
  display: flex;
}

.split-left {
  flex-basis: 50%;
  margin-right: 25px;
}

.split-right {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 680px) {
  .split {
    flex-wrap: wrap;
  }

  .split-left,
  .split-right {
    flex-basis: 100%;
  }
}

.headshot {
  max-width: 300px;
}

.center {
  text-align: center;
}

.fa-linkedin-in.large {
  font-size: 28px;
}
