body {
  background: #f2f1f0;
}

section {
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
}

nav a:not(:last-child) {
  margin-right: 20px;
}

a {
  color: #000;
  text-decoration: none;
}

h1 {
  font-family: "Cormorant Garamond", serif;
}

.split {
  display: flex;
}

.split-left {
  flex-basis: 50%;
  margin-right: 25px;
}

.split-right {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 680px) {
  .split {
    flex-wrap: wrap;
  }

  .split-left,
  .split-right {
    flex-basis: 100%;
  }
}

.headshot {
  max-width: 300px;
}
